@model List<MyStudent>
<h1>Lista studentów</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th> Inne</th>
        </tr>
    </thead>
    <tbody>
        @{int lp = 0;}
        @foreach(var student in Model)
        {
            lp++;
            <tr>
                <td>@lp</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Age</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
    
        }
    </tbody>
     </table>