@model List<Movie>

@{
    ViewData["Title"] = "Home Page";
}
<h1>Lista filmów</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Dodaj nowy film</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Tytuł</th>
            <th>Reżyser</th>
            <th>Cena</th>
            <th> ----- </th>
        </tr>
    </thead>
    <tbody>
        @{
            int lp = 0;
        }
        @foreach (var movie in Model)
        {
            lp++;
            <tr>
                <td>@lp</td>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Price</td>
                <td>
                    <a asp-action="EditMovie" asp-route-id="@movie.Id" class="btn btn-outline-primary">Edytuj</a>
                    <a asp-action="DeleteMovie" asp-route-id="@movie.Id" class="btn btn-outline-danger">Usuń</a>
                </td>
            </tr>
        }

    </tbody>
</table>
